<div>
  <div>
    <h5>APPROVED USE</h5>
    <p>VYEPTI is a prescription medicine used for the preventive treatment of migraine in adults.</p>
    <h5>IMPORTANT SAFETY INFORMATION</h5>
    <p>Do not receive VYEPTI if you have a known allergy to eptinezumab-jjmr or its ingredients.</p>
    <p>VYEPTI may cause serious side effects such as:</p>
    <ul>
      <li>Allergic reactions. Call your healthcare provider or get emergency medical help right away if you have any symptoms of an allergic reaction: rash; swelling of your face, lips, tongue, or throat; if you have trouble breathing; hives; or redness in your face.</li>
      <li>High blood pressure. High blood pressure or worsening of high blood pressure can happen after receiving VYEPTI. Contact your healthcare provider if you have an increase in blood pressure.</li>
      <li>Raynaud&rsquo;s phenomenon. A type of circulation problem (Raynaud&rsquo;s phenomenon) can worsen or happen after receiving VYEPTI. Contact your healthcare provider if you have symptoms such as your fingers or toes feeling numb, cool, or painful, or changing color from pale to blue to red.</li>
    </ul>
    <p>Before starting VYEPTI, tell your healthcare provider about all your medical conditions, including if you have high blood pressure; circulation problems in your fingers and toes; are pregnant or plan to become pregnant; or are breastfeeding or plan to breastfeed.</p>
    <p>Tell your healthcare provider about all the medicines you take, including any prescription and over-the-counter medicines, vitamins, or herbal supplements.</p>
    <p>The most common side effects of VYEPTI include stuffy nose and scratchy throat, and allergic reactions. These are not all the possible side effects of VYEPTI. Tell your healthcare provider if you have any side effect that bothers you or that does not go away.</p>
    <p>You are encouraged to report negative side effects of prescription drugs to the FDA. Visit <a href="https://www.fda.gov/medwatch">www.fda.gov/medwatch</a> or call 1-800-FDA-1088.</p>
    <p>For more information, please see the <a href="https://www.lundbeck.com/content/dam/lundbeck-com/americas/united-states/products/neurology/vyepti_pi_us_en.pdf">Prescribing Information</a> and <a href="https://www.lundbeck.com/content/dam/lundbeck-com/americas/united-states/products/neurology/vyepti_ppi_us_en.pdf">Patient Information</a>.</p>
  </div>
</div>
