footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

footer .footer p {
  margin: 0;
}

footer .footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer > div > div > div {
  box-sizing: border-box;
  max-width: 1232px;
  margin: auto;
  padding: 16px;
}

/* legal links strip */
footer .footer .footer-legal {
  background-color: var(--link-color);
}

footer .footer .footer-legal ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  padding: 8px 0;
}

footer .footer .footer-legal a:any-link {
  color: var(--background-color);
  font-size: var(--body-font-size-s);
  font-weight: 600;
}

footer .footer .footer-legal a:hover {
  color: var(--light-color);
  text-decoration: none;
}

/* assistance call-to-action and legal copy */
footer .footer .footer-info {
  color: var(--dark-color);
}

footer .footer .footer-info > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 32px;
  padding-bottom: 16px;
}

footer .footer .footer-info p:first-child {
  font-size: var(--body-font-size-m);
  font-weight: 700;
  color: var(--text-color);
}

footer .footer .footer-info a:any-link:not(.button) {
  color: var(--link-color);
  text-decoration: underline;
}

footer .footer .footer-info .button-wrapper {
  margin: 0;
}

footer .footer .footer-info a.footer-call {
  gap: 10px;
}

footer .footer .footer-info a.footer-call::before {
  content: "";
  width: 16px;
  height: 19px;
  background: url('../../icons/call.svg') no-repeat center / contain;
}

/* social links and lundbeck logo */
footer .footer .footer-brand > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-top: 8px;
  padding-bottom: 32px;
}

footer .footer .footer-brand ul {
  display: flex;
  align-items: center;
  gap: 12px;
}

footer .footer .footer-brand ul .icon {
  width: 27px;
  height: 27px;
}

footer .footer .footer-brand a:hover .icon {
  opacity: 0.7;
}

footer .footer .footer-brand .icon-lundbeck {
  width: 161px;
  height: 69px;
}

@media (width >= 900px) {
  footer .footer > div > div > div {
    padding-left: 24px;
    padding-right: 24px;
  }

  footer .footer .footer-legal ul {
    gap: 8px 40px;
  }

  footer .footer .footer-info > div {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 8px 16px;
  }

  footer .footer .footer-info p:first-child {
    grid-column: 2;
    grid-row: 1;
  }

  footer .footer .footer-info .button-wrapper {
    grid-column: 3;
    grid-row: 1;
  }

  footer .footer .footer-info p:not(:first-child, .button-wrapper) {
    grid-column: 1;
  }
}
